/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*MAIN*/
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(34, 183, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 183, 195, 1) 11%,
    rgba(25, 33, 117, 1) 69%
  );
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 6px;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form label {
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.form input {
  border: 0;
  background-color: transparent;
  border-bottom: solid 1px rgb(34, 183, 195);
  border-radius: 0;
  outline: none;
}

.form input :focus {
  background: #dfdfdf;
}

.container {
  max-width: 640px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.btn {
  padding: 7px 17px;
  font-size: 10px;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
  border: 0;
  background: #dfdfdf;
  border-radius: 10px;
}

.btn:hover {
  background: #746464;
}

.error-text {
  color: red;
  margin-top: 3px;
  font-size: 7px;
}
