<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 40vw;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/" class="nav-link text-white link-primary" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="/"></use>
                </svg>
                Home
            </a>
        </li>
        <%if(!user){%>
        <li>
            <a href="/user/register" class="nav-link text-white link-primary">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="/user/register"></use>
                </svg>
                Criar conta
            </a>
        </li>
        <%}%>

    </ul>
    <hr>
    <div>

        <ul class="nav text-small shadow">
            <%if(user){%>
        <li>
            <a href="/user/logout" class="nav-link text-white link-primary">
                Sair
            </a>
        </li>
        <%}else{%>
        <li>
            <a href="/user/login" class="nav-link text-white link-primary">
                Entrar
            </a>
        </li>
        <%}%>
        </ul>
    </div>
</div>