<%- include("includes/head"); %>

<div class="container">
    <form method="POST" action="/">
        <label>Cliente</label>
        <input type="hidden" name="_csrf" value="<%= csrfToken %;>" />
        <input name="cliente" type="text" />
        <button>Enviar</button>
    </form>
</div>


<%- include("includes/footer"); %>