<%- include("includes/head"); -%>

<main class="d-flex h-100 w-100">
    <%- include("includes/navbar") -%>

    <article class="d-flex flex-column justify-content-center align-item-center m-auto">
        <h1 class="text-center">Seja Bem vindo(a)!</h1>
        <p class="text-center">Crie sua conta e comece a salvar seus contatos agora!!</p>
    </article>




</main>



<%- include("includes/footer"); -%>